* {
  margin: 0;
  box-sizing: border-box;
}

.list-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.show-option {
  width: 100%;
}

.list-body {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 0 0 5px 5px;
}

.card .list-header {
  text-align: center;
  text-transform: capitalize;
}

.card .card-body {
  list-style: none;
  padding: 0;
}

.card .card-body .list-row-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  margin: 6px 0;
  border-bottom: 2px solid #ddd;
}

.card .card-body .list-row-hide {
  display: none;
}

.list-header {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px 5px 0 0;
}

.list-header .header {
  text-align: center;
  padding: 10px 0;
}

.list-header .header .header-color {
  background-color: red;
  color: #fff;
  font-style: oblique;
  padding: 0 5px;
  border-radius: 5px;
}

.list-content {
  position: relative;
  width: 100%;
}

.list-edit {
  width: 85%;
}

.list-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px; 
  color: #fff;
  cursor: pointer;
}

.btn-edit {
  background-color: #0069d9;
  border: 1px solid #0062cc;
}

.btn-delete {
  background-color: #c82333;
  border: 1px solid #bd2130;
}

.btn:hover {
  opacity: 0;
}

@media (max-width: 800px){
  .list-container {
    width: 60%;
  }
}

@media (max-width: 500px){
  .list-container {
    width: 90%;
  }
}